<!DOCTYPE html>
<html>
  <head>
    <title>Seja bem vindo ao servidor do site da Polvo Clean</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Seja bem vindo ao servidor do site da Polvo Clean</h1>
 <a href="./listar">  Para ver os produtos cadastrados:</a><br>
   <a href="./add">Para cadastrar um produto:</a>
   <br>
  <a href="./api">Para ver o json da aplicação</a>

  </body>
</html>
